body {
    margin: auto;
    background-color: beige;
  }
   input#name:invalid:focus{
    border:1px solid red;
    }
  @font-face {
      font-style: regular;
      font-family: "EuclidCircularA-Regular";
      src: url("/html/online-compiler/fonts/EuclidCircularA-Regular.otf");
  }
    
  p {
    color: rgba(37, 48, 94, 0.87) ;
      font-size: 20px;
      font-weight: 380;
      line-height: 25px;
      margin: auto 16px;
      font-style: normal;
      font-family: EuclidCircularA-Regular;
  }  
  h1 {
      margin: 20px;
      font-size: 28px;
      font-weight: 650;
      line-height: 35px;
      font-family: EuclidCircularA-Regular;
  }
  button[type=submit] {
    background-color: #2004aa;
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=text] {
    background-color:azure;
    color: #2004aa;
    
  }
  